/* HOME PAGE */
.bodyHome {
  background-color: orange;
  color: white;
}

#homeTitle {
  text-align: right;
  font-family: 'Staatliches', cursive;
  font-size: 2.6em;
}

#at {
  font-family: 'Staatliches', cursive;
  font-size: 2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: .15em;
  text-align: center;
  margin-bottom: 1px;
  -webkit-transition: background-color .2s, color .2s;
  /* Safari */
  transition: background-color .2s, color .2s;
}

nav ul li a:hover {
  background-color: white;
  color: orange;
  text-decoration: none;
}

#logo_at {
  border-radius: 40%;
}

.logosHome {
  margin-top: 2em;
}

.divLogo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.divSocial img {
  margin-top: .3em;
  height: 50px;
  width: 50px;
}

.divImgHome1 {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 105px;
  margin-bottom: 2px;
}

.divImgHome2 {
  border-radius: 10px;
  height: 500px;
}

.divImgHome1, .divImgHome2 {
  margin-left: -2.5%;
  background-color: white;
}

.logo_tec {
  position: absolute;
  top: .6em;
  right: .5em;
}

@keyframes home_slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  28% {
    left: -100%;
  }

  48% {
    left: -100%
  }

  60% {
    left: -200%;
  }

  90% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 25%;
  float: left;
}

#slider figure {
  position: relative;
  width: 400%;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s home_slider infinite;
}

/*General media*/
@media (max-width: 576px) {
  nav ul li a {
    text-align: left;
    font-size: 1.2em;
  }

  .divSocial img {
    margin-left: 70%;
    margin-right: 10%;
    display: block;
    margin-top: 1.2em;
    width: 35px;
    height: 35px;
  }

  .offsetCol {
    display: none;
  }

  #homeTitle {
    text-align: left;
    font-family: 'Staatliches', cursive;
    font-size: 1.1em;
  }

  #at {
    font-family: 'Staatliches', cursive;
    font-size: 1.5em;
  }

  a #logo_ {
    height: 22px;
    width: 85px;
  }

  .divLogo img {
    height: 95px;
    width: 100px;
  }

  #slider figure img {
    height: 140px;
  }

  #slider figure {
    margin-top: 30px;
  }
}

@media (min-width: 576px) and (max-width:768px) {
  nav ul li a {
    text-align: left;
    font-size: 1.5em;
  }

  .divSocial img {
    margin-left: 70%;
    margin-right: 10%;
    display: block;
    margin-top: 1.2em;
    width: 40px;
    height: 40px;
  }

  a #logo_ {
    height: 33px;
    width: 126px;
  }

  .divLogo img {
    height: 152px;
    width: 160px;
  }

  #slider figure img {
    height: 280px;
  }

  #slider figure {
    margin-top: 80px;
  }
}

@media (min-width:768px) and (max-width: 992px) {
  .divSocial img {
    margin-left: 70%;
    margin-right: 10%;
    display: block;
    margin-top: 1.2em;
    width: 45px;
    height: 45px;
  }

  a #logo_ {
    height: 35px;
    width: 134px;
  }

  .divLogo img {
    height: 171px;
    width: 180px;
  }

  #slider figure img {
    height: 320px;
  }

  #slider figure {
    margin-top: 100px;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .divSocial img {
    margin-left: 40%;
    margin-right: 10%;
    display: block;
    margin-top: 1.2em;
    width: 50px;
    height: 50px;
  }

  a #logo_ {
    height: 38px;
    width: 146px;
  }

  .divLogo img {
    margin-left: 23%;
    margin-right: auto;
    height: 200px;
    width: 210px;
  }

  #slider figure img {
    height: 350px;
  }

  #slider figure {
    margin-top: 110px;
  }
}

@media (min-width: 1200px) {
  .divSocial img {
    margin-left: 40%;
    margin-right: 10%;
    display: block;
    margin-top: 1.2em;
    width: 50px;
    height: 50px;
  }

  a #logo_ {
    height: 38px;
    width: 146px;
  }

  .divLogo img {
    margin-left: 30%;
    margin-right: auto;
    height: 200px;
    width: 210px;
  }

  #slider figure img {
    height: 360px;
  }

  #slider figure {
    margin-top: 110px;
  }
}