#imglogo1 {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 130px;
}

.navbar-light {
  background-color: orange;
  color: white;
}

/* change the brand and text color */
. .navbar-brand,
.navbar-light .navbar-text {
  background-color: orange;
  color: white;
}

/* change the link color */
.navbar-light .navbar-nav .nav-link {
  background-color: orange;
  color: white;
}

/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
  background-color: white;
  color: orange;
}

.title2 {
  font-family: 'Staatliches', cursive;
  font-size: 1.1em;
  color: white;
}

.at2 {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  color: white;
}

@media (max-width: 576px) {
  .navbar-light {
    background-color: orange;
    color: white;
  }

  #imglogo1 {
    display: none;
  }
}

@media (min-width: 576px) and (max-width:768px) {
  .navbar-light {
    background-color: orange;
    color: white;
  }

  #imglogo1 {
    display: none;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .navbar-light {
    background-color: orange;
    color: white;
    height: 45px;
  }
}

@media (min-width: 1200px) {
  .navbar-light {
    background-color: orange;
    color: white;
    height: 50px;
  }
}