#imglogo1 {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 130px;
}

.navbar-light {
  background-color: orange;
  color: white;
}

/* change the brand and text color */
. .navbar-brand,
.navbar-light .navbar-text {
  background-color: orange;
  color: white;
}

/* change the link color */
.navbar-light .navbar-nav .nav-link {
  background-color: orange;
  color: white;
}

/* change the color of active or hovered links */
.navbar-light .nav-item .activo,
.navbar-light .nav-item:hover .nav-link,
.navbar-light .nav-item.activo .nav-link {
  background-color: white;
  color: orange;
}

/*Little padding for better look*/
.navbar-light .nav-item {
  padding-right: .1em;
}

/*For the dropdown "Concursos"*/
.dropdown-menu .dropdown-item {
  color: gray;
}

.dropdown-menu .dropdown-item:active {
  background-color: orange;
  color: white;
}

#navbarDropdownMenuLink:hover {
  color: orange;
}

#navbarDropdownMenuLink {
  color: white;
}

.title2 {
  font-family: 'Staatliches', cursive;
  font-size: 1.1em;
  color: white;
}

.at2 {
  font-family: 'Staatliches', cursive;
  font-size: 1.5em;
  color: white;
}

/*Concursos page*/
.cRows {
  margin-bottom: .5em;
}

.titleConcursos {
  font-family: 'Staatliches', cursive;
  font-size: 3.5em;
  margin-top: .35em;
  color: lightblue;
  /* #1F75FE*/
}

.cRows {
  border-bottom-style: dotted;
  border-bottom-width: .5em;
  border-bottom-color: orange;
  padding-bottom: 1.2em;
  padding-top: 1em;
}

#cRobo {
  padding-top: 0;
}

.descripcionConcursos {
  font-family: 'Poppins', sans-serif;
  color: #800000;
  text-align: justify;
  border-style: solid;
  border-radius: .4em;
  padding: .5em;
  border-color: lightblue;
  border-width: medium;
  margin-right: .35em;
  /*#10D1BA*/
}

.descripcionConcursos p {
  padding-left: .4em;
  padding-right: .4em;
}

@media (max-width: 576px) {
  .navbar-light {
    background-color: orange;
    color: white;
  }

  #imglogo1 {
    display: none;
  }

  .container-fluid {
    margin-top: 80px;
  }

  embed {
    height: 200px;
    margin-top: .5em;
  }

  .cOrder {
    order: -1;
  }

  .descripcionConcursos {
    margin-left: .35em;
  }
}

@media (min-width: 576px) and (max-width:830px) {
  .navbar-light {
    background-color: orange;
    color: white;
  }

  .container-fluid {
    margin-top: 60px;
  }

  embed {
    height: 300px;
  }
}

@media (min-width: 830px) and (max-width:992px) {
  .navbar-light {
    background-color: orange;
    color: white;
    height: 46px;
  }

  .container-fluid {
    margin-top: 56px;
  }

  embed {
    height: 520px;
  }
}

@media (min-width: 992px) and (max-width:1200px) {
  .navbar-light {
    background-color: orange;
    color: white;
    height: 47px;
  }

  .container-fluid {
    margin-top: 57px;
  }

  embed {
    height: 570px;
  }
}

@media (min-width: 1200px) {
  .navbar-light {
    background-color: orange;
    color: white;
    height: 50px;
  }

  .container-fluid {
    margin-top: 60px;
  }

  embed {
    height: 620px;
  }
}